{% extends 'layout.html' %}

{% block title %}免責事項{% endblock title %}

{% block content %}
                <!-- パンくずリスト -->
                <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="{% url 'kanjiapp:index' %}"><span itemprop="name">ホーム</span></a>
                    <meta itemprop="position" content="1" />
                    </li>
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <span itemprop="name">免責事項</span>
                        <meta itemprop="position" content="2" />
                    </li>
                </ol>
                <h1>免責事項</h1>
                <div class="contents_main">
                </div>{% endblock content %}