{% extends 'layout.html' %}

{% block title %}{% endblock title %}

{% block content %}
                <!-- パンくずリスト -->
                <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <span itemprop="name">ホーム</span>
                    <meta itemprop="position" content="1" />
                    </li>
                </ol>
                <h1>漢字表記検索サイト（仮）</h1>{% endblock content %}